-e .
black
datasets
flake8
ipykernel
ipython
isort
jupyterlab
lightning
loguru
matplotlib
matplotlib
nbautoexport
nltk
notebook
numpy
numpy
pandas
pandas
python-dotenv
scikit-learn
scikit-learn
seaborn
streamlit
torch
tqdm
transformers
typer
Unidecode
wordcloud
