-e .
black
datasets
flake8
ipykernel
ipython
isort
jupyterlab
lightning
matplotlib
nltk
notebook
numpy
pandas
scikit-learn
seaborn
streamlit
torch
tqdm
transformers
Unidecode
wordcloud
jsonargparse[signatures]>=4.27.7